@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

html {
    background-color: #01010e;
    color: white;
    font-family: "Montserrat", sans-serif;
    /* font-weight: 300; */
}

img {
    width: 250px;
}

h1, #search-form {
    text-align: center;
}

#view-toggle {
    background-color:#01010e;
    color: white;
    border:3px solid rgb(66, 0, 128);
    padding: 10px;
    cursor: pointer;
}

#movie-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.movie-card {
    margin: 15px;
    padding: 15px;
    width: 250px;
    border: 2px solid rgb(66, 0, 128);;
    border-radius: 2%;
    color: white;
}

.movie-card a {
    color: rgb(66, 0, 128);
}

.movie-card a:hover  {
    color: white;
}